<h1 class="text-black font-bold text-4xl my-4">Latest</h1>
<div class="flex flex-wrap gap-8 justify-center">
    <% @articles.each do |article| %>
        <div class="max-w-sm overflow-hidden bg-white rounded-lg shadow-md bg-gray-800 my-5">
            <img class="object-cover w-full h-64" src="<%= article.image_url %>" alt="Article">

            <div class="p-6">
                <div>
                    <span class="text-xs font-medium text-blue-600 uppercase text-blue-400">Article</span>
                    <a href="<%= article_path(article) %>" class="block mt-2 text-2xl font-semibold text-gray-800 transition-colors duration-200 transform dark:text-white hover:text-gray-600 hover:underline"><%= article.title %></a>
                    <p class="mt-2 text-sm text-gray-600 dark:text-gray-400"><%= truncate(article.body, length: 200) %></p>
                </div>

                <div class="mt-4">
                    <div class="flex items-center">
                        <div class="flex items-center">
                            <img class="object-cover h-10 rounded-full" src="https://i.ibb.co/5Wdnz05/Wall-Street.jpg" alt="Avatar">
                            <a href="#" class="mx-2 font-semibold text-gray-700 dark:text-gray-200">Jackson Stark</a>
                        </div>
                        <span class="mx-1 text-xs text-gray-600 dark:text-gray-300"><%=article.created_at.strftime("%d %^b %Y")%></span>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>