<!DOCTYPE html>
<html>
  <head>
    <title>Blogly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-500">
    <main class="h-full flex flex-col">
        <header class="bg-gray-800 flex justify-center align-center relative">
            <div class="px-4 py-3 bg-gray-800 text-white font-bold text-2xl text-center">
                <a href="<%= articles_path %>"><i class="fa fa-pagelines pr-2.5"></i>blogly</a>
            </div>
            <div class="absolute right-3 top-3.5 text-white flex gap-4">
                <% if current_user %>
                    <%= link_to "New Article", new_article_path, class: "btn btn--blue" %>
                    <%= button_to 'Logout', logout_path, method: :delete, name: 'logout', class: "btn btn--gray"%>
                    <a href="<%= profile_path(current_user.profile) %>">
                        <% if current_user.profile.image_url %>
                            <%= image_tag "#{current_user.profile.image_url}", class: "rounded-full h-8 w-8" %>
                        <% else %>
                            <i class="fa fa-user scale-125 py-1.5 px-2 cursor-pointer text-xs"></i>
                        <% end %>
                    </a>
                <% else %>
                    <%= link_to 'Login', login_path, name: 'login', class: "btn btn--gray" %>
                    <%= link_to 'Register', register_path, class: "btn btn--blue" %>
                <% end %>
            </div>
        </header>
        <section class="flex-1 flex flex-col justify-center items-center p-8">
            <div>
                <% if notice.present? %>
                    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
                <% end %>
                <h1 class="text-center font-bold text-3xl m-30"><%= @article.title %></h1>
            </div>
            <%= yield %>
        </section>
    </main>
  </body>
</html>
